
main{
    /* height: 35vh; */
    width: 100%;
    padding: 5rem;
    background: snow;
}
.tituloAdocao{
    text-align: center;
    margin-bottom: 2rem;
}
form{

    border: 2px solid black;
    font-size: 25px;
    font-weight: 800;
    color: black;
    display: flex;
    background: snow;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 400px;
    padding: 4rem;
    margin: 0 auto;
}
label{
    margin-top: 20px;
}
textarea{
    padding-left: 0.5rem;
    color: black;
    font-weight: 700;
    background: #E6E6E6;
    margin: 0;
    font-size: 25px;
    height: 200px;
}
.botaoEnviar{
    min-width: 70px;
    height: 50px;
    width: 20%;
    font-weight: 600;
    font-size: 25px;
    margin: 4rem auto 0 auto;
    border: 0;
    color: snow;
    background: #2C5680;
}
.ladinho{
    overflow:auto;
    display: flex;
    flex-direction: row;
}   
.ladinho1{
    display: flex;
    flex-direction: column;
}
.primeiro{
    padding-right: 0.2rem;
    width: 90%;
}
.segundo{
    padding-left: 0.2rem;
    width: auto;
}
input{
    padding-left: 0.5rem;
    color: black;
    font-size: 25px;
    font-weight: 700;
    height: 32px;
    border: 0.1px solid black;
    background: #E6E6E6;
}
.adocao input{
    background: snow;
    border: 0;
    border-bottom: 1px solid black;
}
.adocao{
    border: 0;
}
.cabecalhoAdocao{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.imagemAdocao{  
    background-position: center;
    margin-right: 5rem;
    background-repeat: no-repeat;
    background-color: grey;
    /* background-image: url('../images/image1.png'); */
    width: 20%;
    height: auto;
    background-size: cover;
    /* width: 324px;
    height: 216px;
    left: 168px;
    top: 180px; */
    border-radius: 50%;
}
.id{
    font-size: 15px;
}
.cabecalhoAdocao{
    margin: 0;
}