/* .lobo-2 .info-2, .lobo-1 .info-1 {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 1.5rem;
    padding: 0.8rem;
    justify-self: flex-start;
    /* display: flex; */


.lobo-1 button, .lobo-2 button {
    background: tomato;
    color: snow;
    border: 0;
    font-size: 25px;
    padding: 0.3rem;
    font-weight: 800;
}

.lobo-1 .adotado, .lobo-2 .adotado {
    background: green;
    color: snow;
    border: 0;
    font-size: 25px;
    padding: 0.3rem;
    font-weight: 800;
}




.section-4 {
    background: snow;
}

.section-4 .lobo-1, .section-4 .lobo-2{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    min-width: 1100px;
    /* min-width: none; */
    width: 100%;
    max-width: 1700px;
    margin: 4rem auto;
}

input[type = "checkbox"]{
    position: relative;
    left: 0%;
    cursor: pointer;
}
/* input[type=checkbox]:before {
    content: "";
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: -25px;
    left: 5px;
} */



.vasco{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 1100px;
    margin:1rem auto;
    padding: 0rem;
    justify-content: center;
}
#maisLobo{
    color:whitesmoke;
    font-weight: 800;
    font-size: 20px;
    margin-left: 1rem;
    width: 90px;
    height: auto;
    background: #DEB959;
    border: 0;
}
.busca{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:0 auto;
    justify-content: center;
}
#pesquisaLobo{
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    height: auto;
}
.adotados{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:1rem auto;
    /* padding: 1rem; */
    justify-content: flex-start;
}
.adotados span{
    align-self: flex-end;
    font-weight: 800;
    line-height: 15px;
    margin-left: 1rem;
    /* position: relative;
    left: 3%; */
    font-size:30px
}




.section-4 .container-img {
    width: 30%;
    max-width: 600px;
    min-width: 350px;
    max-height: 400px;
    min-height: 250px;
    background: steelblue;
    border: 0.3rem solid #2E2E2E;
}


.section-4 .lobo-1 {
    flex-flow: row;
}

.section-4 .lobo-1 img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width: 350px;
    min-height: 250px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 2rem;
    /* box-shadow: -25px -25px 0 0 steelblue;
    border: 1px solid black; */
}

.section-4 .lobo-2 {
    flex-flow: row-reverse;
    margin-bottom: 5rem;
}

.section-4 .lobo-2 img {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    min-width: 350px;
    min-height: 250px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
    right: 2rem;
    /* box-shadow: 25px 25px 0 0 steelblue;
    border: 1px solid black; */
}

.lobo-2 .info-2, .lobo-1 .info-1 {
    width: 70%;
    max-width: 600px;
    /* text-align: left; */
    margin: 0 1.5rem;
    padding: 0.8rem;
    /* justify-self: flex-start; */
    /* display: flex; */
}

/* .lobo-1 button, .lobo-2 button {
    background: tomato;
    color: snow;
    border: 0;
    font-size: 25px;
    padding: 0.3rem;
    font-weight: 800;
} */

/* .lobo-1 .adotado, .lobo-2 .adotado {
    background: green;
    color: snow;
    border: 0;
    font-size: 20px;
    padding: 0.3rem;
    font-weight: 800;
} */


.info-1 button{
    position:relative;
    top:0;
    left: 70%;
    font-weight: 900;
    /* margin-left: 20rem; */
}

.info-2 button{
    position:relative;
    top:0;
    left: 0%;
    /* margin-right: 20rem; */
}

.lobo-1 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    margin: 15px 35px;
}

.lobo-2 p {
    font-size: 20px;
    width: 100%;
    /* position: relative;
    top: 0%;
    left: 20%; */
    text-align: right;
    margin:0 ;
}

.lobo-1 h3 {
    font-size: 35px;
    text-align: left;
    margin: 0 auto 0 35px;
}

.lobo-2 h3 {
    text-align: right;
    font-size: 35px;
    /* margin: 0 35px 0 auto; */
}

.lobo-1 span {
    text-align: left;
    font-size: 18px;
    margin: 0 auto 0 35px;
}

.lobo-2 span {
    text-align: right;
    font-size: 18px;
    /* margin: 0 35px 0 auto; */
    position: relative;
    top: 0;
    left: 70%;
}
.info-2{
    margin-right: 3rem;
}

