.tituloMostrarLobo{
    text-align: center;
    font-size: 80px;
    font-weight: 900;
}
/* .vascao{
    padding: 2rem;
} */
#excluir{
    font-size: 30px;
    font-weight: 900;
    color: snow;
    position: relative;
    top: 3rem;
    width: 150px;
    height: 60px;
    border: 0;
    background-color: tomato;;
}
#adotar{
    margin-right: 100px;
    font-size: 30px;
    font-weight: 900;
    color:whitesmoke;
    position: relative;
    top: 3rem;
    width: 150px;
    height: 60px;
    border: 0;
    background-color: #7AAC3A;;
}
/* .mostrarLobos{
    height: 80vh;
    
} */
.section-4 {
    background: snow;
}

.section-4 .lobo-1, .section-4 .lobo-2{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    min-width: 1100px;
    /* min-width: none; */
    width: 100%;
    max-width: 1700px;
    margin: 4rem auto;
}

.section-4 .container-img {
    width: 30%;
    max-width: 600px;
    min-width: 350px;
    max-height: 400px;
    min-height: 250px;
    background: steelblue;
    border: 0.3rem solid #2E2E2E;
}


.section-4 .lobo-1 {
    flex-flow: row;
}

.lobo-1 p {
    font-size: 25px;
    width: 100%;
    font-weight:800;
    text-align: justify;
    margin: 15px 35px;
}
.infos-1 span {
    display: none;
}

.section-4 .lobo-1 img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width: 350px;
    min-height: 250px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 2rem;
    /* box-shadow: -25px -25px 0 0 steelblue;
    border: 1px solid black; */
}
.lobo-1{
    margin-top:0;
}
.lobo-1 .infos-1 {
    width: 100%;
    max-width: 100px;
    min-width: 1000px;
    /* text-align: left; */
    margin: 0 1.5rem;
    padding: 0.8rem;
    /* justify-self: flex-start; */
    /* display: flex; */
}