.tituloMostrarLobo{
    text-align: center;
    font-size: 60px;
}
.vascaoDois .container-img {
    width: 30%;
    max-width: 600px;
    min-width: 350px;
    max-height: 400px;
    min-height: 250px;
    background: steelblue;
    border: 0.3rem solid #2E2E2E;
}
.vascaoDois .lobo-1 img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width: 350px;
    min-height: 250px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 2rem;
    /* box-shadow: -25px -25px 0 0 steelblue;
    border: 1px solid black; */
}
.lobo-1 p {
    font-size: 25px;
    width: 100%;
    font-weight:800;
    text-align: justify;
    margin: 15px 35px;
}
.vascaoDois .lobo-1 {
    flex-flow: row;
}
.lobo-1 .infos-1 {
    width: 100%;
    max-width: 100px;
    min-width: 1000px;
    /* text-align: left; */
    margin: 0 1.5rem;
    padding: 0.8rem;
    /* justify-self: flex-start; */
    /* display: flex; */
}
.vascaoDois .lobo-1{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    min-width: 1100px;
    /* min-width: none; */
    width: 100%;
    max-width: 1700px;
    margin: 4rem auto;
}
.infos-1 span {
    display: none;
}

.infUsuario{
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    text-align:center;
}
.infUsuario h2{
    font-size:60px
}
.infUsuario p{
    font-size:25px;
    font-weight:500;
}
