* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    text-decoration: none;
    overflow-wrap: break-word;
}
body{
    background:snow;
}

/*FOOTER*/
footer {
    background: #2E2E2E;
    display: flex;
    justify-content: space-evenly;
    border-top: 4px solid tan;
}

footer .container-mapa {
    display: flex;
    margin: 2rem;
}

.container-mapa .mapouter {
    margin: 1.5rem;
}

.container-mapa ul {
    color: snow;
    margin: 3rem;
    padding: 0.8rem;
    font-size: 25px;
}

.container-mapa ul li {
    margin-top: 1rem;

}

.container-mapa ul button {
    background: tan;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-top: 1rem;
    width :25%;
}

.carinho {
    margin: 3rem;
    align-self: center;
    text-align: center;
}

.carinho figcaption {
    margin-bottom: 1rem;
    color: snow;
    font-size: 25px;
}

/*HEADER*/

header {
    /* min-height: 150px;
    max-height: 15vh; */
    padding:1rem;
    background:lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header h2 {
    font-size: 45px;
}

a:visited {
    color: black;
}
a{
    transition: .2s;
}
a:hover{
    cursor: pointer;
    color: snow;
}
button:hover{
    cursor: pointer;
}
