.quemSomos{
    background-color: snow;
    text-align: center; 
    margin-bottom: 6rem;
    padding: 2rem;
    height: auto;
}
.quemSomos p{
    font-size: 50px;
}
.quemSomos h1{
    font-size: 60px;
}