main .section-1 {
    min-height: 800px;
    max-height: 80vh;
    background-image: url("../images/image3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3.5rem;
}

.section-1 h1{
    font-size: 80px;
    text-align: center;
    color: snow;
    margin-top: 25px;
}

.section-1 p {
    font-size: 40px;
    color: snow;
    text-align: center;
    width: 100%;
    max-width: 850px;
    margin: 15px auto 0 auto;
    line-height: 35px;

}

.section-2 {
    background-color:steelblue;
    position: relative;
    /* min-height: 450px;
    max-height: 50vh; */
    padding: 3.5rem;
}

.section-2 h2, .section-3 h2, .section-4 h2 {
    font-size: 55px;
    text-align: center;
    color:rgb(219, 182, 134);
    font-weight: 600;
}

.section-2 p {
    font-size: 30px;
    color: snow;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.section-3 {
    background-color: #2E2E2E;
    position: relative;
    top: -5px;
    padding: 3rem;
}

.section-3 h2 {
    font-size: 55px;
    text-align: center;
    color:tan;
    font-weight: 600;
}

.section-3 .valores {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 1.5rem auto;
}

.cada-valor {
    /* background: green; */
    margin: 0 auto;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
}

.cada-valor h3, .cada-valor p{
    text-align: center;
    color: snow;
}

.cada-valor p {
    font-size: 20px;
}

.cada-valor h3 {
    font-size: 35px;
}

.cada-valor .img {
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: snow ;
    width: 100%;
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 100px;
}

.cada-valor .img-1{
    background-image: url("../images/life-insurance.svg");
}

.cada-valor .img-2{
    background-image: url("../images/care.svg");
}

.cada-valor .img-3 {
    background-image: url("../images/Group.svg");
}

.cada-valor .img-4{
    background-image: url("../images/RescueDog.svg");
}

.section-4 {
    background: snow;
}

.section-4 .lobo-1, .section-4 .lobo-2{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    min-width: 400px;
    /* min-width: none; */
    width: 100%;
    max-width: 1100px;
    margin: 4rem auto;
}

.section-4 .container-img {
    width: 50%;
    max-width: 400px;
    min-width: 250px;
    max-height: 400px;
    min-height: 250px;
    background: steelblue;
    border: 0.3rem solid #2E2E2E;
}


.section-4 .lobo-1 {
    flex-flow: row;
}

.section-4 .lobo-1 img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    min-width: 250px;
    min-height: 250px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 2rem;
    /* box-shadow: -25px -25px 0 0 steelblue;
    border: 1px solid black; */
}
.section-4 .lobo-2 {
    flex-flow: row-reverse;
    margin-bottom: 5rem;
}

.section-4 .lobo-2 img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    min-width: 250px;
    min-height: 250px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 2rem;
    right: 2rem;
    /* box-shadow: 25px 25px 0 0 steelblue;
    border: 1px solid black; */
}

.lobo-2 .infos-2, .lobo-1 .infos-1 {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 1.5rem;
    padding: 0.8rem;
    justify-self: flex-start;
    /* display: flex; */
}

.lobo-1 button, .lobo-2 button {
    background: tomato;
    color: snow;
    border: 0;
    font-size: 25px;
    padding: 0.3rem;
    font-weight: 800;
}

.lobo-1 .adotado, .lobo-2 .adotado {
    background: green;
    color: snow;
    border: 0;
    font-size: 25px;
    padding: 0.3rem;
    font-weight: 800;
}
.info-1{
    margin-left:3rem;
}
.info-2{
    margin-right:3rem;
}
.info-2 p{
    margin: 0;
}
.infos-1 button{
    margin-left: 20rem;
}

.infos-2 button{
    margin-right: 20rem;
}

.lobo-1 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    margin: 15px 35px;
}

.lobo-2 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    margin:0 ;
}

.lobo-1 h3 {
    font-size: 35px;
    text-align: left;
    margin: 0 auto 0 35px;
}

.lobo-2 h3 {
    text-align: right;
    font-size: 35px;
    margin: 0 35px 0 auto;
}

.lobo-1 span {
    text-align: left;
    font-size: 18px;
    margin: 0 auto 0 35px;
}

.lobo-2 span {
    text-align: right;
    font-size: 18px;
    margin: 0 35px 0 auto;
}


